.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
padding: 20px;
margin-bottom: 20px;
border-radius: 20px;
box-shadow: #304ffe25 0px 7px 29px 0px;

}

.Form input{
    width: 45%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    color: #304ffe;
    font-size: 1rem;
}


.Form button{
    width: calc(90% + 20px);
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    background-color: #304ffe;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    transition: .2s all ease-in-out;
}

.Form button:hover{
    box-shadow: #0c2ad487 0px 7px 29px 0px;
}

.Alert{
width: 100%;
height: 40px;
margin: 5px 0px 25px;
}


.Alert p{
    background-color: #ffebee;
    color: #f44336;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}


@media(max-width:500px){
    .Form input{
        width: 90%;
    }
}